.ui-services {
  // width: 80%;
  display: flex;
  flex-wrap: wrap;
  h1{
    margin: auto;
  }
  .categories {
    text-align: center;
    width: 100%;
    .services-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      .services {
        box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
        margin: 1rem 1rem;
        height: 25rem;
        width: 22%;
        transition: transform 0.5s ease;

        &:hover {
          transform: scale(1.05);
      }

        img{
            height: 15rem;
            width: 100%;
        }
        
      }
    }
  }
}
