.ui-booking{
 width: 80%;
 margin: auto;
 background-color: #f7f7f7;

 &--100{
   width: 100%;
 }
 h1{
    margin: 2rem 0 2rem 0;
 }
 .aboutBooking{
text-align: justify;
 }
// .form{
//     width: 50%;
// }

    
}