.ui-home{
   
    margin: auto;
    p{
        text-align: center;
        margin: 5em;
        line-height: 2rem;
        font-size: 1.2rem;
        // text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    }
}