.ui-home {
  p {
    text-align: center;
    margin-top: 3rem;
    margin-left: 3rem;
    margin-right: 3rem;
    // line-height: 2rem;
  }

  p {
    animation-duration: 1.5s;
    animation-name: slideup;
  }
}
