.ui-navbar {
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1;
    background: #fff;
    // padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    // margin-bottom: 3em;
    border-bottom: #f7f7f7 1px solid;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;

    .ant-menu-horizontal{
        border-bottom: none;
    }
}