.ui-contact {
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  background-color: #fafafa;
  width: 80%;
  margin: auto;

  form {
    margin-top: 2rem;
    // width: 100%;
  }

  h1 {
    font-style: italic;
  }
}
