.ui-footer {

  background: #333;
  background-size: cover;
  color: #f4f4f4;
  display: flex;
  flex-direction: column;
  align-items: center;

  .quick-links {
    display: flex;
    justify-content: space-between;
    width: 44%;
    margin: 4rem 0 1rem 0 ;

    a {
      text-decoration: none;
      color: #f4f4f4;
      text-transform: capitalize;
    }
  }

  .follow {
    display: flex;
    justify-content: space-between;
    width: 20%;
    margin: 1rem 0  1rem 0 ;

    a {
      text-decoration: none;
      color: #f4f4f4;
      text-transform: capitalize;
    }
  }

  .address{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1rem;
    margin-bottom: 2rem;
    h3{
     font-style: italic;
    }
  }

  .copyright{
    font-size: 0.7rem;
  }
}