.ui-footer {

  background: #333;
  background-size: cover;
  color: #f4f4f4;

  .address{
    display: flex;
    flex-direction: column;
    align-items: center;
    // margin-bottom: 2rem;
    h3{
     font-style: italic;
    }
  }

  .copyright{
    p{

      font-size: 0.7rem;
    }
  }
}