/* src/styles.css */

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
*{
  box-sizing: border-box;
  font-family: "Noto Serif", serif;
}

a {
      text-decoration: none;
      color: #f4f4f4;
      text-transform: capitalize;
    }

p, ul {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5rem;
}

.pointer{
  cursor: pointer;
}

.mb2{
  margin-bottom: 2rem;
}
.mb3{
  margin-bottom: 3rem;
}

.p2{
  padding: 2rem;
}
.p3{
  padding: 3rem;
}
.pb0{
  padding-bottom: 0px;
}